# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Playwright
.playwright/

# OS generated
.DS_Store
Thumbs.db
